<h1>ご当地グルメ検索結果</h1>
<br><br>
<% @pref_name %>
<table>
<tr>
<% @get_data.each do |member| %>
  <th><%= member %></th>
<% end %>
</tr>
<tr>
<% @imagedata.each do |val| %>
    <td><img src="<%= val %>" alt="写真" width="300" height="200"></td>
<% end %>
</tr>
</table>
<br><br><br>
<%= link_to '戻る', :back %>
