<script>
    function getPrefectureId() {
        var prefecture_id = document.pre_form.prefecture.selectedIndex;
        console.log(prefecture_id);
    }


</script>

<h1>top/index.html.erb</h1>

<form action="top/get" method="post" name="pre_data">
    <select name="prefecture">
        <% @select_box_pref_data.each do |pref_data| %>
            <option value="<%= pref_data['prefCode'] %>"><%= pref_data['prefName'] %></option>
        <% end %>
    </select>

    <input type="submit" value="検索">
    <input type="button" value="js" onclick="getPrefectureId();">
</form>

<%= javascript_include_tag "application" %>